.signin_container {
  padding: 20px;
  padding-top: 120px;
  text-align: center;
}

.signin_container form {
  width: 350px;
  margin: 0 auto;
}

.signin_container form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.signin_container h2 {
  font-family: "Exo", sans-serif;
  color: #ecafaf;
  font-size: 50px;
}
