.header-logo {
  display: inline-block;
  padding: 10px 20px 0 20px;
}

.header-logo a {
  display: inline-block;
  width: 58px;
  height: 58px;
}

.header-logo h1 {
  display: inline-block;
  margin: 0;
  padding: 6px 16px;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: top;
}

.MuiToolbar-root .MuiButton-root {
  padding: 12px 10px;
  border-radius: 0px;
}

.MuiToolbar-root .MuiButton-root:hover {
  background-color: #c00 !important;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 0px;
}

footer .footer_logo {
  display: inline-block;
  margin: 0 auto;
}

footer .footer_copyright {
  margin: 10px 0px;
}

@media screen and (max-width: 450px) {
  .header-logo {
    padding: 10px 16px 0 16px;
  }
  .header-logo a {
    width: 46px;
    height: 46px;
  }
  .header-logo h1 {
    font-size: 28px;
    padding: 6px 0 6px 12px;
  }
  .MuiToolbar-root .MuiButton-root {
    padding: 10px 16px 10px 0;
    font-size: 14px;
  }
}
