.form_test-container {
  max-width: 600px;
  margin: 120px auto;
  padding: 2rem;
}

.form_test-container .MuiGrid-root {
  padding: 0 1.5rem;
}

.form_test-container h3 {
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.65rem;
}

.form-group label {
  padding: 0.15rem;
  margin-bottom: 0.1rem;
  color: #555;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-group input {
  min-height: 1.8rem;
  padding: 0.2rem;
  border: none;
  font-size: 1.2rem;
  background-color: #e4e4e4;
  border-radius: 5px;
}

.form-group span.text-error {
  margin-top: 0.15rem;
  padding: 0.15rem;
  color: #f35555;
  font-size: 0.95rem;
}

.form-group button {
  padding: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1pt;
  text-transform: uppercase;
}
