.user_dashboard {
  font-size: 60px;
  font-family: "Exo", sans-serif;
  color: #ecafaf;
  text-align: center;
  margin-top: 200px;
}

.admin_container {
  margin-top: 120px;
  display: flex;
}

.admin_container .admin_nav_link {
  color: #ffffff;
  font-weight: 300;
  border-bottom: 1px solid #353535;
  padding: 10px 20px;
}
.admin_container .admin_nav_link:nth-child(1) {
  border-top: 1px solid #353535;
}

.admin_container .admin_left_nav {
  min-height: 100vh;
  padding-top: 1.4rem;
  background: #282828;
  border-right: 2px solid #01285e;
}

.admin_container .admin_right {
  flex-grow: 1;
  padding: 20px;
}
.admin_container .admin_progress {
  text-align: center;
  margin: 20px 0px;
}

.admin_container .matches-tag-red {
  font-weight: 700;
  color: #f44336;
}

.admin_container .matches-tag-green {
  font-weight: 700;
  color: #4caf50;
}

.admin_container .tag-uppercase {
  text-transform: uppercase;
}

.admin_container h2 {
  margin: 0px 0px 50px 0px;
  border-bottom: 1px solid #dbdbdb;
  color: #414141;
  font-size: 40px;
}
