.player-card-wrapper {
  position: relative;
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 42px;
  padding: 10px 15px;
  color: #1b1b1b;
  background-color: #efefef;
  font-size: 48px;
  font-weight: bold;
  vertical-align: top;
}

.player-card-img {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.07), 0 4px 3px rgba(0, 0, 0, 0.12);
}

.player-card-name {
  display: inline-block;
  padding-top: 10px;
}

.player-card-number {
  position: absolute;
  top: -32px;
  right: 40px;
  font-family: "Exo";
  font-size: 51px;
  font-weight: 800;
  color: #e02727;
}

.player-card-lg-wrapper {
  position: relative;
  min-width: 300px;
  font-family: "Exo";
  color: #1b1b1b;
  background-color: #ebebeb;
}

.player-card-img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
  background-color: #444444;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='40' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23111111' fill-opacity='0.6'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: -2px 0px;
}

.player-card-lg-number {
  display: inline-block;
  margin: 0;
  margin-top: -8px;
  font-family: "Exo";
  font-size: 51px;
  font-weight: 800;
  color: #efefef;
}

.player-card-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 35px 25px;
  font-size: 48px;
}

.player-card-content-wrapper > h5 {
  margin: 0;
}
